@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  ul {
    @apply list-disc ml-12;
  }

  ol {
    @apply list-decimal ml-12;
  }

  blockquote {
    @apply bg-amber-100 border border-amber-300 rounded-md px-2 py-1;
  }

  pre > code.sourceCode {
    @apply whitespace-pre relative;
  }

  pre > code.sourceCode > span {
    @apply inline-block;
  }

  code.sourceCode > span {
    color: inherit;
    text-decoration: inherit;
  }

  div.sourceCode,
  pre.sourceCode {
    @apply my-2 leading-tight;
  }

  @media screen {
    div.sourceCode {
      @apply overflow-auto;
    }
  }

  @media print {
    pre > code.sourceCode {
      @apply whitespace-pre-wrap;
    }

    pre > code.sourceCode > span {
      @apply -indent-20 pl-20;
    }
  }

  pre.numberSource code {
    counter-reset: source-line 0;
  }

  pre.numberSource code > span {
    @apply relative -left-16;
    counter-increment: source-line;
  }

  pre.numberSource code > span > a:first-child::before {
    content: counter(source-line);
    @apply text-stone-400 relative -left-4 text-right align-baseline border-none inline-block select-none py-0 px-1 w-4;
  }

  pre.numberSource {
    @apply ml-12 pl-1 border-l border-solid border-[#aaaaaa];
  }

  div.sourceCode {
    @apply bg-lime-100 border border-lime-300 rounded-lg px-1 py-0.5;
  }

  blockquote > div.sourceCode {
    @apply bg-red-100 border border-red-300 rounded-lg px-1 py-0.5;
  }

  @media screen {
    pre > code.sourceCode > span > a:first-child::before {
      @apply underline underline-offset-auto;
    }
  }

  ul li > code,
  ol li > code,
  p > code {
    @apply bg-lime-100 border border-lime-300 rounded-md px-1 py-0.5;
  }

  blockquote > ul li > code,
  blockquote > ol li > code,
  blockquote > p > code {
    @apply bg-red-100 border border-red-300 rounded-md px-1 py-0.5;
  }

  code span.al, /* Alert */
  code span.in, /* Information */
  code span.wa  /* Warning */ {
    @apply text-amber-700;
  }

  code span.er /* Error */ {
    @apply text-red-700;
  }

  code span.dt /* DataType */ {
    @apply text-cyan-700;
  }

  code span.fu, /* Function */
  code span.op, /* Operator */
  code span.ot  /* Other */ {
    @apply text-blue-900;
  }

  code span.an, /* Annotation */
  code span.co, /* Comment */
  code span.cv, /* CommentVar */
  code span.do, /* Documentation */
  code span.pp  /* Preprocessor */ {
    @apply text-emerald-700 italic;
  }

  code span.cf, /* ControlFlow */
  code span.kw  /* Keyword */ {
    @apply text-emerald-900;
  }

  code span.bn, /* BaseN */
  code span.ch, /* Char */
  code span.cn, /* Constant */
  code span.dv, /* DecVal */
  code span.fl, /* Float */ 
  code span.sc, /* SpecialChar */
  code span.ss, /* SpecialString */
  code span.st, /* String */
  code span.vs  /* VerbatimString */ {
    @apply text-orange-700;
  }

  code span.va  /* Variable */ {
    @apply text-black;
  }

  code span.ex, /* Extension */
  code span.im  /* Import */ {
  }
}

@layer components {
  .animated {
    @apply ease-in-out transition-all duration-300;
  }

  .clickable-light-bg {
    @apply hover:bg-lime-300 font-medium animated;
  }

  .background-default {
    @apply bg-bumblebee bg-top bg-cover bg-no-repeat bg-fixed;
  }

  .spacing-defaults {
    @apply m-8 space-y-8;
  }

  .text-defaults {
    @apply antialiased text-justify text-black selection:bg-lime-300;
  }

  .post-box {
    @apply p-8 max-w-5xl mx-auto bg-lime-50 rounded-xl shadow-xl shadow-black/50 space-y-2;
  }

  .post-title {
    @apply text-5xl font-display font-bold;
  }

  .post-subtitle {
    @apply ml-1 text-3xl italic;
  }

  .post-first-paragraph {
    @apply first-line:uppercase first-line:tracking-wide first-letter:text-7xl first-letter:font-bold first-letter:mr-3 first-letter:float-left;
  }

  .post-pill-button {
    @apply bg-transparent hover:bg-lime-300 border-2 border-lime-300 hover:border-transparent text-sm font-bold uppercase rounded-full px-4 py-2 animated;
  }

  .post-pill-button-short {
    @apply post-pill-button px-2 py-1;
  }
}
